<a href="https://colab.research.google.com/github/rjzevallos/python-intermedio/blob/main/Clase_3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Programación Funcional en Python

Python nos permite trabajar con dos clases de _paradigmas_ de computación: programación orientada a objetos (OOP) y programación funcional. En esta sesión veremos la manera de trabajar de trabajar con el paradigma de la programación funcional.

En la ciencia de la computación, la **programación funcional** (o *functional programming*), es un paradigma de computación que considera que los elementos sean tratados como funciones matemáticas 

$$
    f: \Omega_1 \rightarrow \Omega_2
$$


Bajo este paradigma cada elemento definido es único e inmutable.

### Un primer ejemplo: OOP v.s. FP
* Bajo el paradigma OOP operamos objetos mutables
* Bajo el paradigma FP operamos respecto a funciones y asignamos inputs.

In [ ]:
# Una lista como un objeto (paradigma oop)
list_1 = [1, 2, 3]
# el método _append_ modifica la lista original y no regresa ningún resultado
list_1.append(4)

In [ ]:
# Una lista como un input (paradigma fp)
def add_element(elements, new_element):
    return elements + [new_element]
list_2 = [1, 2, 3]
# 'add_element' produce un output y no modifica 
add_element(list_2, 4)

[1, 2, 3, 4]

## funciones `lambda`
Una función `lambda` es una función anónima la cuál nos permite definir y tratar funciones como si fuesen elementos. Esto nos permite definir funciones *on the fly* y tratarlas como inputs a otras funciones.

Podemos pensar una función lambda como una función compuesta
$$
    \lambda(f(p_1, p_2, \ldots, p_n))
$$

Una función sigue la siguiente sintaxis:
```python
lambda p1, p2, ..., pn: f(p1, p2, ..., pn)
```

In [ ]:
# Las funciones lambda son "anónimas" en el sentido de no tener un nombre asignado
times1 = lambda x, y: x * y
times1

In [ ]:
def times2(x, y): return x * y
times2

Las funciones `lambda` pueden ser tratadas como cualquier otro elemento. No es necesario declarales una variable para poder ocuparlas

In [ ]:
(lambda x, y: 2 * x + y)(5, 1)

11

In [ ]:
# Las funciones lambda nos permiten pasar funciones por parámetros sin haberlos definido previamente
# fºg(x) == f(g(x))
def f(g, x):
    return 2 * g(x)

f(lambda x: x ** 2, 3)

18

## `map` &  `filter`

### `map`
La función `map` aplica una función `f` a un iterable `X` de $n$ elementos entrada a entrada.
```python
map(f, X) = [f(x1), f(x2), ..., f(xn)]
```

map siempre regresa un iterable, por lo que es necesario, para ver su valor, pasarlo a una lista

<h2 style="color:teal">Ejemplo</h2>
Crea una lista de 10 elementos con los valores del 1 al 10 al cuadrado

In [ ]:
# versión oop
elementos = []
for x in range(1, 11):
    elementos.append(x ** 2)
elementos

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# versión fp
elementos = map(lambda x: x ** 2, range(1, 11))
list(elementos)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
map(lambda x, y: y + x ** 2, range(1, 11), range(10, 21))

Con `map` podemos iterar cualquier elementos que querramos

In [ ]:
funcs = [lambda x: x + x, lambda x: x - x, lambda x: x * x, lambda x: x / x]
list(map(lambda f: f(2), funcs))

[4, 0, 4, 1.0]

<h2 style="color:teal">Ejemplo</h2>

Usando map, crea una lista de 4 listas: la `i`-ésima lista deberá contener los valores de la operación `funcs[i]` aplicado a todos los valores `1` a `10`

In [ ]:
list(map(lambda f: list(map(lambda x: f(x), range(1, 11))), funcs))

[[2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 4, 9, 16, 25, 36, 49, 64, 81, 100],
 [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]]

### `filter`
La función `filter` un filtro `X` considerando `f`. `filter` regresa un iterable de los elementos de `X` que son verdaderos bajo `f`

In [ ]:
elementos = [1, 5, 2, 0, 4, 3, 8, 11]
nuevos_elementos = []
for x in elementos:
    if x % 2 != 0:
        nuevos_elementos.append(x)
nuevos_elementos

[1, 5, 3, 11]

In [ ]:
list(filter(lambda x: x % 2 != 0, elementos))

[1, 5, 3, 11]

## List Comprehensions
### Una alternativa a `map` & `filter`
Una alternativa a usar `map` o `filter` *list comprehensions*. La idea detrás de un *list comprehension* es describir un nuevo elemento como si fuera un conjunto:

$$
    A = \{f(c) \ | \ c \in C\}
$$


<div align="center">
    
```python
A = [f(c) for c in C]

```

</div>

Usar un *list comprehension*:
1. Nos ahorra la necesidad de pasar de un generador a una lista
2. Hace de ciertos códigos más legibles en menos líneas

### List Comprehension como `map`

In [ ]:
# lista de todos los elementos de 1 al 11 al cuadrado
# list(map(lambda x: x ** 2, range(1, 11))) 
[x ** 2 for x in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### List Comprehension como `filter`

In [ ]:
# lista de todos los elementos de 1 al 11 que sean impares
# list(filter(lambda x: x % 2 == 1, range(1, 11))) 
[x for x in range(1, 11) if x % 2 == 1]

[1, 3, 5, 7, 9]

<h2 style="color:teal">Ejemplo</h2>

Usando list comprehensions, escribe una expresión que obtenga todos los del 1 al 11 al cuadrado que sean impares

In [ ]:
[x ** 2 for x in range(1, 11) if x % 2 == 1]

[1, 9, 25, 49, 81]

## Set, Dict comprehension
Al igual que con una lista, podemos crear un arreglo de `dict`s y `set`s de manera funcional

**dict comprehension**
```python
{k: f(k) for k in C}
```

**set comprehension**
```python
{f(k) for k in C}
```

<h2 style="color:teal">Ejemplo</h2>

Considerando las listas `companies`, `ticks`
1. crea un *dict comphrension* cuya llave sea el nombre de la compañía y su valor la longitud de su nombre
2. Crea un *set comprehension* que contenga la longitudes de los elementos en `ticks`
3. Crea un dict comprehension cuya llave sea al tick de la compañía y su valor el nombre de la compañía

In [ ]:
companies = ['Nokia', 'Caterpillar', 'Citigroup', 'Union Pacific',
             'Jp Morgan Chase', 'Morgan Stanley', 'Praxair',
             'Lloyds Tsb', 'Wells Fargo', 'Ford Motor', 'Pfizer',
             'Companhia Vale Do Rio Doce', 'Gen Electric', 'Barrick Gold',
             'Bhp Billiton Sp', 'Philips Electronics']
ticks = ['NOK', 'CAT', 'C', 'UNP', 'JPM', 'MS', 'PX', 'LYG', 'WFC', 'F', 'PFE', 'VALE', 'GE', 'ABX', 'BBL', 'PHG']

In [ ]:
# 1
{c: len(c) for c in companies}

{'Barrick Gold': 12,
 'Bhp Billiton Sp': 15,
 'Caterpillar': 11,
 'Citigroup': 9,
 'Companhia Vale Do Rio Doce': 26,
 'Ford Motor': 10,
 'Gen Electric': 12,
 'Jp Morgan Chase': 15,
 'Lloyds Tsb': 10,
 'Morgan Stanley': 14,
 'Nokia': 5,
 'Pfizer': 6,
 'Philips Electronics': 19,
 'Praxair': 7,
 'Union Pacific': 13,
 'Wells Fargo': 11}

In [ ]:
# 2
{len(t) for t in ticks}

{1, 2, 3, 4}

In [ ]:
# 3
{t: c for t, c in zip(ticks, companies)}

{'ABX': 'Barrick Gold',
 'BBL': 'Bhp Billiton Sp',
 'C': 'Citigroup',
 'CAT': 'Caterpillar',
 'F': 'Ford Motor',
 'GE': 'Gen Electric',
 'JPM': 'Jp Morgan Chase',
 'LYG': 'Lloyds Tsb',
 'MS': 'Morgan Stanley',
 'NOK': 'Nokia',
 'PFE': 'Pfizer',
 'PHG': 'Philips Electronics',
 'PX': 'Praxair',
 'UNP': 'Union Pacific',
 'VALE': 'Companhia Vale Do Rio Doce',
 'WFC': 'Wells Fargo'}

----
## Cuantificadores `all` `any`
### El cálculo de predicados

Al trabajar con arreglos de elementos, en ocasiones es deseable saber si **alguno** o **todos** los elementos cumplen con cierta característica.

#### Any
Para saber si al menos un elemento de un iterable es `True` ocupamos la función  `any`

```python
any(X) == x[0] or x[1] or ... or x[n-1]
```

`X` no es necesariamente un arreglo de booleanos. Considerando alguna función (predicado)  `f`, podemos evaluar si algún elemento cumple el predicado `f` de la siguiente manera

<div align="center">
    
```python
any([f(x) for x in X]) == (f(x[0]) or f(x[1]) or ... or f(x[n]))
```
</div>

Lo cual es equivalente al cálculo de predicados como:
$$
    \exists x \in X. f(x) = f(x_0) \vee f(x_1) \vee \ldots \vee f(x_n)
$$

#### All
Para saber si todos los elementos de un iterable es `True` ocupamos la función  `all`

```python
all(X) == x[0] all x[1] all ... or x[n-1]
```

Al igual que `any`, `X` no es necesariamente un arreglo de booleanos. Considerando alguna función (predicado)  `f`, podemos evaluar si todos los elementos cumplen el predicado `f` de la siguiente manera

<div align="center">
    
```python
all([f(x) for x in X]) == (f(x[0]) and f(x[1]) and ... and f(x[n]))
```
</div>

Lo cual es equivalente al cálculo de predicados como:
$$
    \forall x \in X. f(x) = f(x_0) \wedge f(x_1) \wedge \ldots \wedge f(x_n)
$$

In [ ]:
any([False, True, True])

True

In [ ]:
all([False, True, True])

False

<h2 style="color:teal">Ejemplo</h2>

Considerando `U = [1, 3, 3, 10]`, escribe una fbf en python (y evalúa) los siguientes enunciados:
1. Todos los elementos de `U` son impares
2. Todos los elementos de `U` menores a 10 son impares
3. Existe un número mayor a 10 impar

Considerando `A = [0, 2, 4, 6]` y `B = [0, 1, 2, 3]`, escribe un fbf y evalua:
1. Cada elemento en `A` es el doble de algún elemento en `B`


Considerando `U =[36, 33, 43, 75, 21, 92, 16, 34, 31, 35, 80, 45, 47, 10, 52, 45, 21, 58, 30, 42]` evalúa las siguientes fbfs
1. $ \forall x \in U. \text{par}(x) \rightarrow \neg \text{impar}(x)$
2. $\exists x \in U. \text{par}(x) \wedge \text{impar}(x)$


Considerando `U = (1999, 2000, ..., 3000) × ("Jan", "Feb", ..., "Dec")` y `X <= U`, `X = [(2010, "Jan"), (2010, "Feb"), (2011, "Feb"), (2015, "Dec"), (2018, "Feb"), (2018, "Aug")]`, escribe una expresión para el siguiente enunciado
1. "Todos los años son mayores o iguales a 2010 y menores o iguales a 2018, siempre y cuando los meses de abril a diciembre no estén presentes dentro del año 2018".

In [ ]:
# 1
U = [1, 3, 3, 10]
# predicado
def F(x): return True if x % 2 != 0 else False
# fbf
all([F(x) for x in U])

False

In [ ]:
# 2
U = [1, 3, 3, 10]
# predicados
def F(x): return x < 10
def G(x): return x % 2 == 1
# fbf
all(F(x) for x in U if G(x))

True

In [ ]:
# 3
U = [1, 3, 3, 10]
# predicados
def F(x): return x > 10
def G(x): return x % 2 == 1
# fbf
any([G(x) for x in U if F(x)])
any([G(x) and F(x) for x in U])

False

In [ ]:
# 4
A = [0, 2, 4, 6]
B = [0, 1, 2, 3]
# predicado
def F(a, b): return a == 2 * b
# fbf
all([any([F(a, b) for a in A]) for b in B])

True

In [ ]:
# 5
U = [36, 33, 43, 75, 21, 92, 16, 34,
    31, 35, 80, 45, 47, 10, 52, 45,
    21, 58, 30, 42]
# func. auxiliar
def implies(a, b): return not(a and not b)
# predicados 
def par(x): return x % 2 == 0
def impar(x): return x % 2 != 0

all(implies(par(x), not impar(x)) for x in U)

True

In [ ]:
# 6
U = [36, 33, 43, 75, 21, 92, 16, 34,
    31, 35, 80, 45, 47, 10, 52, 45,
    21, 58, 30, 42]
# predicados 
def par(x): return x % 2 == 0
def impar(x): return x % 2 != 0

any(par(x) and impar(x) for x in U)

False

In [ ]:
# 7
X = [(2010, "Jan"), (2010, "Feb"), (2011, "Feb"),
     (2015, "Dec"), (2018, "Feb"), (2018, "Aug")]
# subconjunto auxiliar
void = ['Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
def F(x): return 2010 <= x <= 2018
all([F(x[0]) and not (x[0] == 2018 and x[1] in void) for x in X])

False